
#hero {
	width: 100vw;
	height: 100vh;
	position: relative;
    canvas {
	    width: 100%;
	    height: 100%;
			z-index: -99;
			cursor: crosshair;
		}
}

.hero__home__backdrop {
	width: calc(100vw);
	height: calc(100vh - 100px);
	top: 70px;
	left: 0;
	z-index: -99;
	position: absolute;
	background: #efefef;
	background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(240,240,240,1) 100%);
}


@media (max-width: 728px) { 
	.hero__home__backdrop {
		height: calc(100vh - 180px);
	}
}

#home {
  color: red;
}